@model SocialNetwork.Models.AuthModels.RegisterModel

<div class="login-module">

    <div class="login-panel">

        <div class="responsive-padding"></div>

        <div class="content-panel text-center center-block">

            <h1>A Social Network</h1>
            <p>Register your account, or <a href="#" onclick="replace_content(this)" data-url="/auth/_login">login</a> today!</p>

            <div>
                <form class="login-form" method="post">
                    <input name="Email" type="email" placeholder="email" class="input-lg" /><br />
                    <input name="Password" type="password" placeholder="password" class="input-lg" /><br />
                    <input name="ConfirmPassword" type="password" placeholder="password" class="input-lg" />
                </form>
            </div>

        </div>

        <div class="responsive-padding"></div>

    </div>

</div>