@model SocialNetwork.Models.AuthModels.RegisterModel

<div class="register-module">
    <div class="jumbotron register-panel">
        <h1>NOT FACEBOOK</h1>
        <h2>Register to Not Facebook!</h2>

        <form class="login-form" method="post">

            <div class="input-group">
                <label for="Email">Email: </label>
                <input name="Email" type="email" placeholder="email" />
            </div>

            <div class="input-group">
                <label for="Password">Password: </label>
                <input name="Password" type="password" placeholder="password" />
            </div>

            <input name="ConfirmPassword" type="password" placeholder="password" />

        </form>
    </div>
</div>