@*  *@
<div class="bg-video-container">

    <video loop muted autoplay poster="~/images/dive_into_water.png">
        <source src="~/videos/dive_into_water.mp4" type="video/mp4">
    </video>

    <div class="presentation-panel"></div>

</div>