@{
    ViewData["Title"] = "Welcome To ";
}

<div class="content-header partial-contents" data-url="/presentation/_video">
    Loading ...
</div>

<div class="content-window partial-contents" data-url="/auth/_login">
    Loading ...
</div>